.create-post-parent {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  gap: 0.5rem;
}
.create-post-parent > textarea {
  border-radius: 1rem;
  resize: none;
  padding: 0.5rem;
  font-size: 1rem;
}
.letter-counter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.letter-counter-safe p {
  background-color: var(--secondary-color);
  width: fit-content;
  padding: 0.5rem;
  border-radius: 1rem;
  color: var(--bg-color);
}
.letter-counter-danger p {
  background-color: red;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 1rem;
  color: var(--bg-color);
}
.hori-line {
  margin: 0rem 1rem;
}
