.app-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home-page-container {
  /* margin: auto;
  text-align: center;
  width: 80vw;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly; */
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
